* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Yatra";
  src: url("/Yatra_One/YatraOne-Regular.ttf");
}

body {
  background: radial-gradient(darkorange, rgb(0, 0, 3));
  min-height: 100vh;
  position: relative;
}

.search-wrapper {
  display: flex;
  justify-content: space-between;
  background-color: lightseagreen;
  position: fixed;
  top: 0%;
  width: 100%;
  z-index: 10;
}

.search {
  display: flex;
  justify-content: center;
  margin: 20px 20px;
  border: 0;
}

.banner {
  margin: 20px 20px;
  padding: 5px;
  font-family: "Yatra";
  color: white;
  font-size: 22px;
  letter-spacing: 3px;
}

.input {
  outline: 0;
  border: 1px solid black;
  padding: 5px;
  background: slategray;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  max-width: 800px;
  width: 80%;
}

.btn {
  background: royalblue;
  outline: 0;
  border: 1px solid black;
  padding: 10px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
}

.foods {
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  justify-content: space-evenly;
  gap: 10px;
  margin-top: 120px;
  margin-bottom: 50px;
  z-index: 1;
}

.food {
  max-width: 800px;
  height: 300px;
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  cursor: pointer;
  background-color: salmon;
  position: relative;
}

.food-item {
  position: absolute;
  top: 50%;
  background: #000;
  color: white;
  padding: 10px;
  width: 50%;
  border-radius: 30px;
  text-align: center;
}

.food img {
  width: 100%;
  height: 100%;
}

.food-recipe {
  overflow: hidden;
}

.rec {
  color: white;
  padding: 10px;
  line-height: 1.5em;
  list-style-type: lower-roman;
  z-index: 999;
  margin-top: 100px;
}

.btn-class {
  background: linear-gradient(120deg, purple, white);
  height: 2.5rem;
  width: 2.5rem;
  display: flex;
  justify-content: center;
  align-content: center;
  border-radius: 50%;
  box-shadow: 0 5px 2px rgba(0, 0, 0, 0);
  font-size: 28px;
  font-weight: 700;
  cursor: pointer;
  margin: 20px 20px;
}

.hide {
  display: none;
}

@media (max-width: 520px) {
  .search-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .search,
  .banner,
  .btn-class {
    margin: 5px 10px;
    text-align: center;
  }
}